<ion-header>
  <ion-toolbar color=
 "primary">
  <ion-buttons slot=
 "start">
  <ion-menu-button menu=
 "menu1"></ion-menu-button>
  </ion-buttons>
  <ion-title>Ofertas</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>
  <ion-grid>
  <ion-row>
  <ion-col size="12" size-sm="8" offset-sm="2" text-center>
  <!--Oferta-Element-->
  <ion-card>

  <ion-card-header>
  <ion-card-title>Hamburguesa en $1 peso</ion-card-title>
  <ion-card-subtitle>Disfruta con quien tu quieras !!</ion-card-subtitle>
  </ion-card-header>

  <ion-img src="https://i2.wp.com/liquidazona.com/wp-content/uploads/2019/05/Portada-66.png"></ion-img>

  <ion-card-content>
  <p>Vigencia hasta agotar existencias</p>
  </ion-card-content>

  </ion-card>
  </ion-col>
  </ion-row>
  </ion-grid>
 </ion-content>
